<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="handlerMapping" class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"></bean>

<bean name="/index.do" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
	<property name="viewName" value="index"></property>
</bean>
<bean name="/list.do" class="com.hb.controller.ListController">
	<property name="guestDao" ref="guestDao"></property>
</bean>
<bean name="/add.do" class="org.springframework.web.servlet.mvc.ParameterizableViewController">
	<property name="viewName" value="add"/>
</bean>
<bean name="/insert.do" class="com.hb.controller.InsertController">
	<property name="commandClass" value="com.hb.model.entity.GuestVo"/>
	<property name="commandName" value="bean"/>
	<property name="guestDao" ref="guestDao"></property>
</bean>

<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	<property name="prefix">
		<value>/WEB-INF/page/</value>
	</property>
	<property name="suffix">
		<value>.jsp</value>
	</property>
</bean>

</beans>
